{% if settings.instagram-access-token != blank %}

  <section class="instagram-widget content-area">
    <h2 class="section-title section-border">{{ settings.instagram-title }}</h2>
    <div class="instagram-photos"></div>
  </section>

{% endif %}
