<!-- Begin MailChimp Signup Form -->
<div id="mc_embed_signup">
<form action="//cococcooper.us12.list-manage.com/subscribe/post?u=6097d8f2dc523a82f912a2387&amp;id=334540d010" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <ul>
        <li><label for="mce-EMAIL">Join the CocoCooper Squad</label></li>
	      <li><input type="email" value="" name="EMAIL" class="email-field" id="mce-EMAIL" placeholder="your email address" onfocus="this.style.color='#FFF'" required >
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6097d8f2dc523a82f912a2387_334540d010" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="yes, please" name="subscribe" id="mc-embedded-subscribe" class="call-to-action"></div>
  </li>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
